.edit-file-input::-webkit-file-upload-button  {
  visibility: hidden;
}

.edit-file-input::before {
  content: 'Change Profile Picture';
  display: inline-block;
  /* background: linear-gradient(top, #f9f9f9, #e3e3e3); */
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 600;
  font-size: 10pt;
  color: #262626;
}
.edit-file-input:hover::before {
  border-color: black;
}
.edit-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

input[type='file'] {
  color: transparent;    /* Hides your "No File Selected" */
  /* direction: rtl;        Sets the Control to Right-To-Left */
}

.edit-btn-wrapper {
    margin-left: 31%;
    margin-top: 5%;
}