.post-index-all{
    display: flex;
    padding-top: 140px;
    justify-content: center;
    flex-direction: column;
    transform: translateX(33%);
}
.post {
    display: flex;
    
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    /* width: 614px;
    height: 60px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-header {
    background-color: #ffffff;
    font-weight: 600;
    border: 1px solid #e6e6e6;
    display: flex;
    width: 614px;
    height: 60px;
    align-items: center;
}

.post-user-info {
    padding: 16px;
}

.post-header-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-img {
   border: 1px solid #e6e6e6;
   border-top: none;
   border-bottom: none;
   width: 614px;
   height: 614px;
   display: flex;
   object-fit: cover;
}

.post-body {
    border: 1px solid #e6e6e6;
    display: inline-block;
    margin-bottom: 60px;
    background-color: #ffffff;
    width: 614px;
    /* min-height: 235px; */
    /* padding-left: 16px;
    padding-right: 16px; */
}

.likes-comments {
    padding-left: 8px;
    padding-right: 16px;
    flex-direction: row;
    width: 100px;
    margin-top: 4px;
}

.post-button {
    border: none;
    /* min-width: 40px;
    min-height: 40px; */
    padding: 0;
}

.liked {
    height: 40px;
    width: 40px;
}

.unliked {
    height: 50px;
    width: 50px;
    
}

.comment-icon {
    height: 43px;
    width: 43px;
}

.num-likes {
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 600;
    font-size: 14px;
    /* margin-top: 5px; */
    margin-bottom: 10px;
}

.post-body-username {
    font-weight: 600;
    display: inline;
}

.username-link {
    text-decoration: none;
    color: black;
    display: inline;
}

.post-body-div {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    white-space: nowrap;

}

.post-body-description {
    margin-top: 10px;
    display: inline;
    /* padding-left: 5px; */
}

.comment-div {
    max-height: 80px;
    width: 100px;
}

.comments {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid #efefef;
    margin-top: 4px;
    height: 18px;
    font-size: 14px;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 55px;
    display: flex;
    align-items: center;
}

.comment-form {
    flex-direction: row;
    position: relative;
    width: 600px;
}

.comment-input {
    border: 0;
    width: 540px;
}

.post-comment-btn {
    border: 0;
    color: #3897f0;
    display: inline;
}