.post-show-modal {
  background-color: white;
  /* padding-top: 15px; */
  /* padding-bottom: 5px; */
  /* padding: 20px; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 935px;
  display: block;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.post-show-img {
   border-top: none;
   border-bottom: none;
   width: 600px;
   height: 600px;
   display: flex;
   object-fit: cover;

}

.post-show-side-wrapper {
 
  display: flex;
  flex-direction: column;
  width: 335px;
  max-height: 600px;
  justify-content: space-between;
  /* padding: 20px; */
}


.post-show-user-info {
  display: flex;
  padding: 16px;
  height: 39px;
  border-bottom: 1px solid #efefef;
  align-items: center;
  /* width: 100%; */
}

.post-show-username {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: black;
  display: inline;
}

.post-show-comments {
  padding-top: 16px;
  padding-bottom: 6px;
  text-align: left;
  overflow-y: scroll;
}

.post-comment-item {
  padding-bottom: 10px;
  padding-left: 16px;
}

.post-likes-comments-wrapper {
  border-top: 1px solid #efefef;
}

.post-likes-comments {
    padding-right: 16px;
    flex-direction: row;
    width: 100px;
    margin-top: 4px;
}


.post-num-likes {
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 600;
    font-size: 14px;
    /* margin-top: 5px; */
    text-align: left;
    margin-bottom: 10px;
}

.post-show-comment-input {
    border: 0;
    /* width: 540px; */
}

.post-show-comment-btn {
    border: 0;
    color: #3897f0;
    display: inline;
}

